@import 'common/reset';
@import 'common/mixin';

.map {
    $padding: 10px;
    &__list {
        position: relative;
        display: block;
        padding: $padding 0;
        border-top: 1px solid #eee;
        &:first-child {
            border-top: 2px solid #eee;
        }
        &:last-child {
            border-bottom: 2px solid #eee;
        }
    }
    &__title {
        display: inline-block;
        margin-right: 10px;
        &:before {
            content: '[ ';
        }
        &:after {
            content: ' ]';
        }
    }
    &__link {
        &:hover {
            color: $fonthover;
        }
    }
    &__author {
        position: absolute;
        right: $padding;
        top: $padding;
        .label {
            color: $fontlight;
            font-size: 0.8em;
            margin-right: 10px;
        }
    }
    &__desc {
        font-size: 0.9em;
        color: $fontdefault;
        padding: $padding 20px; 
        border-top: 1px solid #eee;
    }
}